.header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header_logo {
    object-fit: contain;
    height:40px;
}


.header_forum{
    height:40px;
    padding: 1vw !important;
    color: #000 !important;
    }

.header_person{
    height:40px;
    padding: 1vw !important;
    color: #000 !important;
    }